* {
	padding : 0;
	margin : 0;
	font-family : sans_serif;
}

nav{
	height: 50px;
	background-color: black;
	color: white;
	place-self: front;
}
nav h2{
	font-size: 32px;
	padding-left: 10px;
	padding-top: 5px;
}

body {
	height:  100vh;
	/*background : linear-gradient(to bottom, #66ffff 0%, #ffcc80 100%);*/
	opacity: 100%;
}

body h1{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 40px;
}


.login-page{
	width: 360px;
	padding: 10px 0 0;
	margin: auto;

}

.form{
	position: relative;
	z-index: 1;
	max-width: 360px;
	margin: 0 auto 10px;
	padding: 0px;
	text-align: center;
}

.form input{
	font-family: sans-serif;
	outline: 1;
	width: 100%;
	border: 10;
	margin: 0 0 15PX;
	padding: 10px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button{
	font-size: 18px;
		font-weight: bold;
		outline: none;
		cursor: pointer;
		margin: 20px 0;
		padding: 10px 15px;
		width: 50%;
		border: 1;
		border-radius: 5px;
		background-color: white ;
		/*box-shadow: 0 3px #999;*/
}

.form button:hover{
	background-color: #3e8e41;
    color:white;
}

.form button:active{
		background-color: white;
		box-shadow: 0 5px #666;
		transform: translateY(4px);
}

.form .register-form{
	display: none;
}

/*body .container{*/
	/*[>width: 80vw;<]*/
	/*[>height: 40vh;<]*/
	/*background-color: white;*/
	/*[>border-radius: 25px;<]*/
	

/*}*/
.loginPad{
    padding-bottom:10px
}
.loginDivPad{
    padding:20px;
    border-radius:5px;
        background-color:#D3D3D3
}
.onemoreMargin
 {
     margin-top:150px;
 } 
